{% extends 'base.html' %}

{% block Title_head %}
<title>Modificar blog</title>
{% endblock Title_head %}


{% block h1_header %}
<h1>Modifica tu blog</h1>
{% endblock h1_header %}

{% block Contenido %}

<form action="{% url 'inicio:modificar_blog' blog.id %}" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <ul>
        {% for field in form %}
            <li>{{ field.label_tag }} {{ field }}</li>
        {% endfor %}
    </ul>
    <button type="submit">Modificar</button>
</form>

{% endblock Contenido %}