{% extends 'base.html' %}

{% block Title_head %}
                    <title>Cambio de password</title>
{% endblock Title_head %}


{% block h1_header %}
                    <h1>Cambio de password</h1>
{% endblock h1_header %}


{% block Contenido %}

{% if form.errors %}
<p style="color: red">Error</p>
{% endif %}

<form action={% url 'usuarios:cambiar_password' %} method='POST'>
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <button>Cambiar</button>
</form>
{% endblock Contenido %}