{% extends 'base.html' %}

{% block Title_head %}
                    <title>Registro</title>
{% endblock Title_head %}


{% block h1_header %}
                    <h1>Registro de usuario</h1>
{% endblock h1_header %}


{% block Contenido %}

{% if form.errors %}
<p style="color: red">Error en datos de registracion</p>
{% endif %}

<form action={% url 'usuarios:registro' %} method='POST'>
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <button>Registrarse</button>
</form>
{% endblock Contenido %}